<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bananasplit">

        <activity
            android:name=".settleUp.SettleUpDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Bananasplit" />
        <activity
            android:name=".settleUp.SettleUpActivity"
            android:exported="false" />
        <activity
            android:name=".settings.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".friends.FriendsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Bananasplit" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".friends.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".groups.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".friends.CreateFriendActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".expense.CreateExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupsActivity"
            android:exported="true" />
        <activity
            android:name=".groups.SelectFriendsActivity"
            android:exported="false"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"/>

        <activity
            android:name=".ActivitiesActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scanner.ScannerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>